.git {
	width: 48px;
	height: 48px;
	margin-top: 30px;
	display: block;
	@include background($github);
}

.git:hover {
	@include background($github-hover);
}

#open_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#save_file {
	text-decoration: none !important;
}

#open_file + label,
#save_file {
	font-size: 1.25em;
	font-weight: 700;
	color: $glacier;
	background-color: white;
	display: inline-block;
	cursor: pointer;
	margin-top: 8px;
	padding: 6px 12px 6px 12px;
	border-radius: 6px;
}

#open_file:focus + label,
#open_file + label:hover,
#save_file:focus,
#save_file:hover {
	color: white;
	background-color: $glacier;
	box-shadow: 0 0 1.5pt 1.5pt $aquamarine;
}

label:hover > span,
#open_file:focus + label > span {
	@include background-image($open-file-on);
}

a:hover > span,
a:focus > span {
	@include background-image($save-file-on);
}

.open, .save {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	display: inline-block;
}

.open {
	@include background-image($open-file-off);
}

.save {
	@include background-image($save-file-off);
}

