.toolbar {
	background-color: $charade-dark;
	color: $charlotte;
	font-family: $fira;
}

.tool-break {
	width: 100%;
	height: 1px;
	background-color: $glacier;
	margin: 0 auto;
}

.cv-line {
	height: 20px;
	background-color: black;
}

