@mixin background($image) {
	background: url($image);
}

@mixin background-image($image) {
	background-image: url($image);
}

@mixin color-box($height, $color) {
	height: $height;
	background-color: $color;
}
