// Colors
$charade-light: #2f3241;
$charade-dark: #2b2e3b;
$glacier: #74b1be;
$charlotte: #9feaf9;
$porcelain: #e0e5e6;
$aquamarine: #7fffd4;

// Fonts
$quantico: "Quantico", cursive;
$fira: "Fira Sans Extra Condensed", sans-serif;

// Interactive Icons
$github: "../images/github/github.svg";
$github-hover: "../images/github/github-hover.svg";

$draw-off: "../images/draw/draw-off.svg";
$draw-on: "../images/draw/draw-on.svg";
$draw-hover: "../images/draw/draw-hover.svg";

$line-off: "../images/line/line-off.svg";
$line-on: "../images/line/line-on.svg";
$line-hover: "../images/line/line-hover.svg";

$erase-off: "../images/erase/erase-off.svg";
$erase-on: "../images/erase/erase-on.svg";
$erase-hover: "../images/erase/erase-hover.svg";

$text-off: "../images/text/text-off.svg";
$text-on: "../images/text/text-on.svg";
$text-hover: "../images/text/text-hover.svg";

$spray-off: "../images/spray/spray-off.svg";
$spray-on: "../images/spray/spray-on.svg";
$spray-hover: "../images/spray/spray-hover.svg";

$fill-off: "../images/fill/fill-off.svg";
$fill-on: "../images/fill/fill-on.svg";
$fill-hover: "../images/fill/fill-hover.svg";

$rectangle-off: "../images/rectangle/rectangle-off.svg";
$rectangle-on: "../images/rectangle/rectangle-on.svg";
$rectangle-hover: "../images/rectangle/rectangle-hover.svg";

$circle-off: "../images/circle/circle-off.svg";
$circle-on: "../images/circle/circle-on.svg";
$circle-hover: "../images/circle/circle-hover.svg";

$open-file-off: "../images/open-file/open-file-off.svg";
$open-file-on: "../images/open-file/open-file-on.svg";

$save-file-off: "../images/save-file/save-file-off.svg";
$save-file-on: "../images/save-file/save-file-on.svg";
